#this only includes (in public_html/):
#	.htaccess		in public_html/
#   .htaccess_dev   in public_html/wp-content/uploads/; dev version of .htaccess
#   .htaccess_prod  in public_html/wp-content/uploads/; prod version of .htaccess
#	faviconblue.ico in public_html/
#	everything 		in public_html/custom-pages/
#	everything		in public_html/wp-content/plugins/
#	only apps/, carmel/ LOP
#					in public_html/wp-content/theme/
#	index.php		in public_html/wp-content/uploads/
#      images              in wp-content/
#some of themes and plugins may have their own .gitignore

public_html/*

!public_html/faviconblue.ico
!public_html/favicon.ico
!public_html/.htaccess
!public_html/custom-pages

!public_html/wp-content
public_html/wp-content/*
!public_html/wp-content/P2C_LOGO_WEB.gif
!public_html/wp-content/P2C_LOGO_WEB_163.gif
!public_html/wp-content/plugins
!public_html/wp-content/plugins/*
!public_html/wp-content/themes
public_html/wp-content/themes/*
!public_html/wp-content/themes/apps
!public_html/wp-content/themes/apps/*
!public_html/wp-content/themes/carmel
!public_html/wp-content/themes/carmel/*
!public_html/wp-content/themes/LOP
!public_html/wp-content/themes/LOP/*
!public_html/wp-content/uploads/
public_html/wp-content/uploads/*
!public_html/wp-content/uploads/p2cforms
public_html/wp-content/uploads/p2cforms/*
!public_html/wp-content/uploads/p2cforms/index.php
!public_html/wp-content/uploads/p2cforms/.htaccess
!public_html/wp-content/images/
!public_html/wp-content/uploads/index.php
!public_html/wp-content/uploads/.htaccess_*
!public_html/wp-content/wptouch-data
!public_html/wp-content/wptouch-data/*
!public_html/wp-content/serve-ability-course
!public_html/wp-content/serve-ability-course/*

# This is a file type created by Mac OS that stores folder attributes
# Should have no impact on code
.DS_Store
