#report-nav {
	width: 20%;
	float: left;
}

#report-nav ul {
    list-style-type: none;
	padding: 0;
	margin: 10px 20px 20px 0;
}

#report-nav a {
	text-align: center;
	color: #ffffff;
	background-color: #f7941d;
	display: block;
	width: 100%;
	padding: 5px 0;
	margin-bottom: 5px;
	border-radius: 5px;
}

#report-content {
	width: 80%;
	float: right;
	padding: 10px 0 0 0;
}

#report-table {
	margin: 15px 0 15px 0;
	font-size: 80%;
}

#submit {
	float: left;
}

#ajax-loading {
	display: none;
	float: left;
	margin-left: 5px;
}