
#main-content p.orange-box{
	color:#ffffff;
	background-color:#f7941d;
	padding:12px;
	line-height:normal;
	margin:0;
}

#main-content h2, #main-content h3 , #main-content form , #main-content lu, #main-content h1, #content h1{
	margin-left:0;
}

h4{
	font-weight:bold;
	margin-bottom:10px;
}

#main-content p {
	margin:13px;
}

.person:hover{
	background-color:#eeeeee;
}

.person{
	padding:12px;
}