/*
*Style for workflow.
* author: gerald.becker
*
*/

#content-workflow a {
    text-decoration: none;
    color: blue;
}

#content-workflow a:hover {
    background-color: black;
    color: white;
}

#workflow-navbar {
    margin-bottom: 30px;
}
#workflow-navbar a {
	background-color:#f7941d;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:10px;
	border-style: none;
	border-radius:5px;
}

#workflow-navbar a:hover {
	background-color:#f7941d;
}

#content-workflow {
    margin: 0 5px; 
}

div.workflow {
    /*background-color: #b2c8ff;*/
    float: left;
    /*height: 40px;*/
}

div.workflowleft {
    height: 40px;
    width: 200px;
    vertical-align: middle;
    font-size: 18px;
    /*border: 1px solid red;*/
}

div.workflowright {
    width: 400px;
    height: 40px;
    margin-right: 2px;
    /*font-size: 18px; TODO
    font-family: sans-serif; TODO*/ 
    /*border: 1px solid orange;*/
}

div.workflowboth {
    width: 600px;
    height: 40px;
}

div.workflowlabel {
    height: 40px;
    vertical-align: middle;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 5px;
    /*border: 1px solid red;*/
}

#workflowfields {
    width: 660px;
    background-color: #f6f9ca;
}

#debugworkflowfields {
    width: 600px;
    background-color: #b2fff6;
    margin-bottom: 20px;
}

.error {
    background-color: #FFDFDF;
    border: 2px solid #F9B9B2; 
    padding: 10px;
}

.approval {
    background-color: #ffbe89;
    
}

div.clear {
    clear: both;
}


#content-workflow input[type="text"] {
    display: block;
    margin: 0;
    width: 99%;
    height: 89%;
    font-family: sans-serif;
    font-size: 18px;
    /*appearance: none;*/
    box-shadow: none;
    border-radius: none;
}

#content-workflow .inputfix input[type="text"] {
    display: initial;
    height: 40px;
}

#content-workflow input[type="text"]:focus {
    outline: none;
}

#content-workflow .style-1 input[type="text"] {
    padding: 0px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
#content-workflow .style-1 input[type="text"]:focus,
#content-workflow .style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#content-workflow input[type="date"] {
    display: block;
    margin: 0;
    width: 99%;
    height: 89%;
    font-family: sans-serif;
    font-size: 18px;
    /*appearance: none;*/
    box-shadow: none;
    border-radius: none;
}

#content-workflow .inputfix input[type="date"] {
    display: initial;
    height: 40px;
}

#content-workflow input[type="date"]:focus {
    outline: none;
}

#content-workflow .style-1 input[type="date"] {
    padding: 0px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
#content-workflow .style-1 input[type="date"]:focus,
#content-workflow .style-1 input[type="date"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}


select {
    width: 99%;
    height: 89%;
    font-family: sans-serif;
    font-size: 18px;
}


input[type="submit"] {
    display: block;
    margin: 20px 0;
    /*width: 99%;*/
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 0 5px 1px #969696;
}

input[type="reset"] {
    display: block;
    margin: 20px 0;
    /*width: 99%;*/
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 0 5px 1px #969696;
}

button.buttoncustom {
    display: block;
    background-color: #8fff89;
    /*margin: 20px 0;*/
    width: 99%;
    height: 95%;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 0 5px 1px #969696;
}

button.savebutton {
    display: block;
    background-color: #e8e8e8;
    margin: 20px 10px 20px 0;
    width: 200px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 0 5px 1px #969696;
    float: left;
}

button.deletebutton {
    display: block;
    background-color: #F58220;
    margin: 20px 10px 20px 0;
    /*width: 200px;*/
    min-width: 200px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 0 5px 1px #969696;
    float: left;
}

button.submitbutton {
    display: block;
    background-color: #0079C1;
    margin: 20px 10px 20px 0;
    width: 200px;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 0 5px 1px #969696;
    float: left;
}

p.approved {
    font-size: 24px;
    background-color: #8fff89;
    text-align: center;
    margin: 0;
}

p.denied {
    font-size: 24px;
    background-color: #ff8989;
    text-align: center;
    margin: 0;
}

p.reviewing {
    font-size: 24px;
    background-color: #51abff;
    text-align: center;
    margin: 0;
}

p.status {
    font-size: 24px;
    margin: 0;
    padding: 10px 0 0 0;
    
}

p.comments-section {
    background-color: #f2f2f2;
}

div.view-submissions-headers {
    /*background-color: #f2f2f2;*/
    font-size: 26px;
    text-align: center;
}

#view-submissions {
    font-size: 16px;
}

#view-submissions td {
    padding: 0 5px;
}

#view-submissions th {
    padding: 0 10px;
}
.reviewing {
    background-color: #51abff;
}

.approved {
    background-color: #8fff89;
}

.denied {
    background-color: #ff8989;
}

#workflowhistory {
    margin-top: 30px;
    width: 550px;
}

#workflowhistory h3 {
    margin-bottom: 10px;
}

#workflowhistory td {
    text-align: center;
}

td.center {
    text-align: center;
}

.errormsg {
    color: red;
    font-size: 30px;
}

#emailsettings td {
    padding: 5px;
    border: 1px solid black;
}

#submissionsearchbar {
    background-color: #EEEEEE;
    margin: 10px auto;
}

#submissionsearchbar tr {
    padding: 0 100px;
}

div.hide {
    display: none;
}

div.field1to25 {
    width: 25px;
}

div.field26to50 {
    width: 50px;
}

div.field51to75 {
    width: 75px;
}

div.field76to100 {
    width: 100px;
}

div.field101to125 {
    width: 125px;
}

div.field126to150 {
    width: 150px;
}

div.field151to175 {
    width: 175px;
}

div.field176to200 {
    width: 200px;
}

div.field201to225 {
    width: 225px;
}

div.field226to250 {
    width: 250px;
}

div.field251to275 {
    width: 275px;
}

div.field276to300 {
    width: 300px;
}

div.field301to325 {
    width: 325px;
}

div.field326to350 {
    width: 350px;
}

div.field351to375 {
    width: 375px;
}

div.field376to400 {
    width: 400px;
}

div.field401to425 {
    width: 425px;
}

div.field426to450 {
    width: 450px;
}

div.field451to475 {
    width: 475px;
}

div.field476to500 {
    width: 500px;
}

div.field501to525 {
    width: 525px;
}

div.field526to550 {
    width: 550px;
}

div.field551to575 {
    width: 575px;
}

div.field576to600 {
    width: 600px;
}

@media (max-width: 767px) {
    #content-workflow {
        margin: 0;
        
    }
    div.workflow {
        /*background-color: #b2c8ff;*/
        /*height: 40px;*/
    }

    div.workflowleft {
        border:none;
        width: 96%;
        padding: 0 2%;
        height: 25px;
    }

    div.workflowright {
        width: 96%;
        padding: 0 2%;
    }
    
    div.mobile {
        width: 96%;
        padding: 0 2%;
    }
    
    div.workflowboth {
        width: 96%;
        padding: 0 2%;
    }
    
    #workflowfields {
        width: 96%;
        padding: 0 2%;
    }
    
    #debugworkflowfields {
        width: 96%;
        padding: 0 2%;
    }
    
    select {
        width: 100%;
    }
    
    button.deletebutton {
        width: 100%;
        height: 75px;
        margin: 5px 10px 5px 0;
    }
    button.submitbutton {
        width: 100%;
        height: 75px;
        margin: 5px 10px 5px 0;
    }
    button.savebutton {
        width: 100%;
        height: 75px;
        margin: 5px 10px 5px 0;
    }
    
    #workflowhistory {
        width: 96%;
    }
    
}