IndexIgnore *
Options +FollowSymlinks
RewriteEngine On
#RewriteCond %{HTTP_REFERER} !^(https://)?staff.powertochange.org/ [NC]
RewriteCond %{HTTP:Cookie} !wordpress_logged_in_ [NC]
#RewriteCond %{REQUEST_URI} !\.(jpg|png|gif)$ [NC]
RewriteRule .*\.(gif|png|jpg|doc|xls|pdf|html|htm|xlsx|docx)$ https://staff.powertochange.org/wp-login.php?redirect_to=%{REQUEST_URI} [NC]
